<%
  commentable_type = @commentable.class.name.underscore.gsub("/", "_")
%>
<%= turbo_stream.append "devlog_comments_#{@commentable.id}" do %>
  <%= render "comments/comment", comment: @comment %>
<% end %>
<%= turbo_stream.replace "comments_count_#{commentable_type}_#{@commentable.id}" do %>
  <span id="comments_count_<%= commentable_type %>_<%= @commentable.id %>"><%= @commentable.reload.comments_count %></span>
<% end %>
<%= turbo_stream.replace "comment_body" do %>
  <textarea name="comment[body]" id="comment_body" class="devlog-detail__comment-textarea" placeholder="Add a comment..." rows="1" maxlength="<%= Comment::BODY_MAX_LENGTH %>"></textarea>
<% end %>
